body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #1E2126;
  color: #f0f0f0;
}

.children-container {
  padding: 2rem;
}

.videogames-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: stretch;
}

@media only screen and (max-width: 600px) {
  .videogames-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .videogames-container {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    align-items: stretch;
  }
}

@media only screen and (min-width: 768px) {
  .videogames-container {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    align-items: stretch;
  }
}

@media only screen and (min-width: 992px) {
  .videogames-container {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    align-items: stretch;
  }
}

@media (min-width: 1200px) {
  .videogames-container {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    align-items: stretch;
  }
}

.btn-normal {
  background-color: #1E2126;
  color: #f0f0f0;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  transition-duration: 0.4s;
  border: none;
}

.btn-normal:hover {
  background-color: #252831;
}

.btn-edit {
  background-color: #424858;
  color: #f0f0f0;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  transition-duration: 0.4s;
  border: none;
}

.btn-edit:hover {
  background-color: #252831;
}

.btn-red {
  background-color: #ed343e;
  color: #f0f0f0;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  transition-duration: 0.4s;
  border: none;
}

.btn-red:hover {
  background-color: #F24949;
}

.toast-text {
  color: #f0f0f0;
  text-align: center;
}

.btn-toast-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  justify-items: center;
  align-items: stretch;
}

.btn-options-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  justify-items: center;
  align-items: stretch;
}

.no-videogames-container {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.no-videogames-text {
  text-align: center;
  color: #ed343e;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.not-found-text {
  text-align: center;
  color: #ed343e;
}

.title-form {
  margin: 0;
  padding: 0;
  text-align: center;
}

.create-videogame-title {
  font-family: 'Lobster', cursive;
}

.span-title {
  color: #ed343e;
}

.form-content {
  width: 80%;
  margin: auto;
}

.input-container {
  margin-top: 0.6rem;
}

.pair-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.input-style {
  width: 100%;
  background-color: #424858;
  outline-style: none;
  color: #f0f0f0;
  border-radius: 5px;
  padding: 0.4rem;
  border: none;
}

.input-style::placeholder {
  color: #f0f0f0;
  opacity: 0.4;
  transition-duration: 0.4s;
}

.alert-text {
  color: #ed343e;
  font-size: 0.6rem;
}


.label-form {
  display: block;
}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: row dense;
  column-gap: 1rem;
  justify-items: center;
  align-items: stretch;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .checkbox-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
    column-gap: 1rem;
    justify-items: center;
    align-items: stretch;
    align-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .checkbox-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row dense;
    column-gap: 1rem;
    justify-items: center;
    align-items: stretch;
    align-content: center;
  }
}

@media (min-width: 1200px) {
  .checkbox-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row dense;
    column-gap: 1rem;
    justify-items: center;
    align-items: stretch;
    align-content: center;
  }
}

.label-checkbox {
  margin-left: 0.5rem;
}

.button-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.8rem;
}

.submit-btn {
  background-color: #51A351;
  color: #f0f0f0;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  transition-duration: 0.4s;
  border: none;
}

.submit-btn:hover {
  background-color: #62C462;
}